@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: white; /* Default light mode */
    color: black;
  }
  
  html.dark {
    background-color: #1a202c; /* Dark mode */
    color: white;
  }
  

  html.dark .card {
    background-color: #1a202c !important;
}